.app .row {
  --bs-gutter-x: 0;
}

.job {
  border: 1px solid #dfdfdf;
  transition: all 0.3s ease-in-out;
}

.job:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25), 0 3px 12px rgba(0, 0, 0, 0.1);
}

.job-head, .job-details {
  border-bottom: 1px solid #dfdfdf;
}

.job-head-img {
  width: 55px;
}

.handle-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.handle-scroll::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 8px;
}

.handle-scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #F3F2EF;
}


.target-job .btn {
  transition: all 0.3s ease-in-out;
}

.target-job .btn-apply:hover,
.target-job .btn-save:hover,
.target-job .btn-share:hover {
  background-color: #1fc76a;
  transform: translateY(-3px);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1)
}

.target-job .btn-save:hover, .target-job .btn-share:hover {
  color: #1fc76a;
  background-color: #fff;
  border: 1px solid #1fc76a;
}

.share-icon {
  filter: invert(79%) sepia(25%) saturate(6994%) hue-rotate(93deg) brightness(94%) contrast(76%);
}

@media (max-width: 567px) {
  .job-head-img {
    width: 40px;
  }
}