@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #3a3a3a;
  background: #F3F2EF;
}

img {
  max-width: 100%;
}

.btn-light-green {
  color: #1fc76a;
  width: max-content;
  padding: 5px 8px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #DDF7E9;
}

.btn-tag, .btn-tag:hover {
  color: #838383;
  background-color: #f1f1f1;
}

.text-green {
  color: #1fc76a;
}

.text-83 {
  color: #838383;
}

.bg-green {
  background-color: #1fc76a;
}

.border-green {
  border: 1px solid #1fc76a;
}

ul li::marker {
  color: #000;
}